body {
  background-color: #202124;
  color: #e8eaed;
}

#img-profile {
  max-width: 16rem;
  min-width: 16rem;
}

#tbl-profile {
  width: 25%;
  min-width: 32rem;
}
#tbl-profile th {
  text-align: right;
  padding: 0.25rem;
}
#tbl-profile td {
  text-align: left;
  padding: 0.25rem;
}

.category {
  margin: 2rem;
}

.category .card {
  max-width: 18rem;
  margin: 0.5rem;
}
